hr {
  margin: 30px 0;
  height: 1px !important;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, black)
  );
}

.list-heading {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
  color: #11111180;
}
